name: ♻️↕️ Sync HF Mirror (Metadata) ↕️♻️
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
   - cron: "0 2 * * *"  #UTC 02:00 AM --> 07:45 AM NPT @everyday
   - cron: "0 14 * * *" #UTC 02:00 PM --> 06:45 PM NPT @everyday
jobs:
  sync-metadata:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    permissions: read-all
    strategy:
      #max-parallel: 1
      fail-fast: false
      matrix:
        include:
          - host: "aarch64-Linux"
            repo: "bincache"
            hf: "https://huggingface.co/datasets/pkgforge/bincache"

          - host: "x86_64-Linux"
            repo: "bincache"
            hf: "https://huggingface.co/datasets/pkgforge/bincache"

          - host: "aarch64-Linux"
            repo: "pkgcache"
            hf: "https://huggingface.co/datasets/pkgforge/pkgcache"

          - host: "x86_64-Linux"
            repo: "pkgcache"
            hf: "https://huggingface.co/datasets/pkgforge/pkgcache"
    steps:
      - name: Install Addons
        run: |
          #presets
          set +x ; set +e
          #-------------#
          export DEBIAN_FRONTEND="noninteractive"
          sudo apt update -y -qq
          sudo apt install 7zip b3sum bc coreutils curl dos2unix fdupes jq git git-lfs moreutils wget util-linux -y -qq
          sudo apt install 7zip b3sum bc coreutils curl dos2unix fdupes jq git git-lfs moreutils wget util-linux -y -qq
          bash <(curl -qfsSL "https://raw.githubusercontent.com/pkgforge/devscripts/refs/heads/main/Linux/install_bins_curl.sh")
        continue-on-error: true

      - name: Setup Env
        run: |
          #presets
          set +x ; set +e
          #-------------#
          #tmp
          SYSTMP="$(dirname $(mktemp -u))" && export SYSTMP="${SYSTMP}"
          echo "SYSTMP=${SYSTMP}" >> "${GITHUB_ENV}"
          #-------------#
          #Git
          sudo apt-get install git-lfs -y -qq
          #-------------#
          ##User-Agent
          USER_AGENT="$(curl -qfsSL 'https://raw.githubusercontent.com/pkgforge/devscripts/refs/heads/main/Misc/User-Agents/ua_firefox_macos_latest.txt')" && export USER_AGENT="${USER_AGENT}"
          echo "USER_AGENT=${USER_AGENT}" >> "${GITHUB_ENV}"
        continue-on-error: true

      - name: Sync Mirror Metadata [${{ matrix.repo }} ==> ${{ matrix.hf }}/${{ matrix.host }}]
        env:
          HF_TOKEN: "${{ secrets.HF_TOKEN }}"
        run: |
          #Presets
          set +x ; set +e
          #--------------#
          ##Setup
           export GH_PAGER=""
           export GIT_TERMINAL_PROMPT="0"
           export GIT_ASKPASS="/bin/echo"
           gh config set prompt disabled
           git config --global "credential.helper" store
           git config --global "user.email" "AjamX101@gmail.com"
           git config --global "user.name" "Azathothas"
           huggingface-cli login --token "${HF_TOKEN}" --add-to-git-credential
          ##SOARQL
           curl -qfsSL "https://api.gh.pkgforge.dev/repos/pkgforge/soarql/releases?per_page=100" | jq -r '.. | objects | .browser_download_url? // empty' | grep -Ei "$(uname -m)" | grep -Eiv "tar\.gz|\.b3sum" | grep -Ei "soarql" | sort --version-sort | tail -n 1 | tr -d '[:space:]' | xargs -I "{}" sudo curl -qfsSL "{}" -o "/usr/local/bin/soarql"
           sudo chmod -v 'a+x' "/usr/local/bin/soarql"
            if [[ ! -s "/usr/local/bin/soarql" || $(stat -c%s "/usr/local/bin/soarql") -le 1024 ]]; then
              echo -e "\n[✗] FATAL: soarql Appears to be NOT INSTALLED...\n"
             exit 1
            else
              timeout 10 "/usr/local/bin/soarql" --help
            fi
          ##Env
           export TZ="UTC"
           TMPDIR="$(mktemp -d)" && export TMPDIR="${TMPDIR}" ; echo -e "\n[+] Using TEMP: ${TMPDIR}\n"
           HOST_TRIPLET="${{ matrix.host }}"
           HOST_TRIPLET_L="${HOST_TRIPLET,,}"
           export HOST_TRIPLET HOST_TRIPLET_L
          ##Sync
           pushd "${TMPDIR}" &>/dev/null && \
             git clone --depth="1" --filter="blob:none" --no-checkout "${{ matrix.hf }}" && \
             cd "./${{ matrix.repo }}" && export HF_REPO_DIR="$(realpath .)"
             git lfs install &>/dev/null ; huggingface-cli lfs-enable-largefiles "." &>/dev/null
             git fetch origin main
             git lfs track "./${HOST_TRIPLET}.json" "./${HOST_TRIPLET_L}.json" \
               "./${HOST_TRIPLET}.json.bsum" \
               "./${HOST_TRIPLET_L}.json.bsum" \
               "./${HOST_TRIPLET}.db" \
               "./${HOST_TRIPLET_L}.db" \
               "./${HOST_TRIPLET}.db.bsum" \
               "./${HOST_TRIPLET_L}.db.bsum" \
               "./${HOST_TRIPLET}.db.cba" \
               "./${HOST_TRIPLET_L}.db.cba" \
               "./${HOST_TRIPLET}.db.xz" \
               "./${HOST_TRIPLET_L}.db.xz" \
               "./${HOST_TRIPLET}.db.xz.bsum" \
               "./${HOST_TRIPLET_L}.db.xz.bsum" \
               "./${HOST_TRIPLET}.db.zstd" \
               "./${HOST_TRIPLET_L}.db.zstd" \
               "./${HOST_TRIPLET}.db.zstd.bsum" \
               "./${HOST_TRIPLET_L}.db.zstd.bsum" \
               "./${HOST_TRIPLET}.json.cba" \
               "./${HOST_TRIPLET_L}.json.cba" \
               "./${HOST_TRIPLET}.json.xz" \
               "./${HOST_TRIPLET_L}.json.xz" \
               "./${HOST_TRIPLET}.json.xz.bsum" \
               "./${HOST_TRIPLET_L}.json.xz.bsum" \
               "./${HOST_TRIPLET}.json.zstd" \
               "./${HOST_TRIPLET_L}.json.zstd" \
               "./${HOST_TRIPLET}.json.zstd.bsum" \
               "./${HOST_TRIPLET_L}.json.zstd.bsum" \
               "./${HOST_TRIPLET}.sdb" \
               "./${HOST_TRIPLET_L}.sdb" \
               "./${HOST_TRIPLET}.sdb.bsum" \
               "./${HOST_TRIPLET_L}.sdb.bsum" \
               "./${HOST_TRIPLET}.sdb.cba" \
               "./${HOST_TRIPLET_L}.sdb.cba" \
               "./${HOST_TRIPLET}.sdb.xz" \
               "./${HOST_TRIPLET_L}.sdb.xz" \
               "./${HOST_TRIPLET}.sdb.xz.bsum" \
               "./${HOST_TRIPLET_L}.sdb.xz.bsum" \
               "./${HOST_TRIPLET}.sdb.zstd" \
               "./${HOST_TRIPLET_L}.sdb.zstd" \
               "./${HOST_TRIPLET}.sdb.zstd.bsum" \
               "./${HOST_TRIPLET_L}.sdb.zstd.bsum"
             git sparse-checkout set ""
             git sparse-checkout set --no-cone --sparse-index \
               "/${HOST_TRIPLET}.json" "/${HOST_TRIPLET_L}.json" \
               "/${HOST_TRIPLET}.json.bsum" \
               "/${HOST_TRIPLET_L}.json.bsum" \
               "/${HOST_TRIPLET}.db" \
               "/${HOST_TRIPLET_L}.db" \
               "/${HOST_TRIPLET}.db.bsum" \
               "/${HOST_TRIPLET_L}.db.bsum" \
               "/${HOST_TRIPLET}.db.cba" \
               "/${HOST_TRIPLET_L}.db.cba" \
               "/${HOST_TRIPLET}.db.xz" \
               "/${HOST_TRIPLET_L}.db.xz" \
               "/${HOST_TRIPLET}.db.xz.bsum" \
               "/${HOST_TRIPLET_L}.db.xz.bsum" \
               "/${HOST_TRIPLET}.db.zstd" \
               "/${HOST_TRIPLET_L}.db.zstd" \
               "/${HOST_TRIPLET}.db.zstd.bsum" \
               "/${HOST_TRIPLET_L}.db.zstd.bsum" \
               "/${HOST_TRIPLET}.json.cba" \
               "/${HOST_TRIPLET_L}.json.cba" \
               "/${HOST_TRIPLET}.json.xz" \
               "/${HOST_TRIPLET_L}.json.xz" \
               "/${HOST_TRIPLET}.json.xz.bsum" \
               "/${HOST_TRIPLET_L}.json.xz.bsum" \
               "/${HOST_TRIPLET}.json.zstd" \
               "/${HOST_TRIPLET_L}.json.zstd" \
               "/${HOST_TRIPLET}.json.zstd.bsum" \
               "/${HOST_TRIPLET_L}.json.zstd.bsum" \
               "/${HOST_TRIPLET}.sdb" \
               "/${HOST_TRIPLET_L}.sdb" \
               "/${HOST_TRIPLET}.sdb.bsum" \
               "/${HOST_TRIPLET_L}.sdb.bsum" \
               "/${HOST_TRIPLET}.sdb.cba" \
               "/${HOST_TRIPLET_L}.sdb.cba" \
               "/${HOST_TRIPLET}.sdb.xz" \
               "/${HOST_TRIPLET_L}.sdb.xz" \
               "/${HOST_TRIPLET}.sdb.xz.bsum" \
               "/${HOST_TRIPLET_L}.sdb.xz.bsum" \
               "/${HOST_TRIPLET}.sdb.zstd" \
               "/${HOST_TRIPLET_L}.sdb.zstd" \
               "/${HOST_TRIPLET}.sdb.zstd.bsum" \
               "/${HOST_TRIPLET_L}.sdb.zstd.bsum"
               git checkout ; ls -lah "."
             #Generate
             curl -w "(DL) <== %{url}\n" -qfsSL "https://meta.pkgforge.dev/${{ matrix.repo }}/${HOST_TRIPLET}.json" -o "${TMPDIR}/${HOST_TRIPLET}.json.tmp"
             sed -E "s|https://api\.ghcr\.pkgforge\.dev/pkgforge/${{ matrix.repo }}/(.*)\?tag=(.*)\&download=(.*)$|https://hf.${{ matrix.repo }}.pkgforge.dev/\1/\2/\3|g" "${TMPDIR}/${HOST_TRIPLET}.json.tmp" | jq . > "${TMPDIR}/${HOST_TRIPLET}.json"
              if [[ "$(jq -r '.[] | .ghcr_pkg' "${TMPDIR}/${HOST_TRIPLET}.json" | wc -l)" -le 10 ]]; then
                echo -e "\n[-] FATAL: Failed to Generate ${{ matrix.repo }} (${HOST_TRIPLET}) Metadata\n"
               exit 1
              elif  [[ "$(jq -r '.[] | .ghcr_pkg' "${TMPDIR}/${HOST_TRIPLET}.json" | wc -l)" -gt 10 ]]; then
               pushd "${HF_REPO_DIR}" &>/dev/null
               #Json
                cp -fv "${TMPDIR}/${HOST_TRIPLET}.json" "${HF_REPO_DIR}/${HOST_TRIPLET}.json"
               #Archives
                generate_checksum()
                {
                 b3sum "$1" | grep -oE '^[a-f0-9]{64}' | tr -d '[:space:]' > "$1.bsum"
                }
                generate_checksum "${HOST_TRIPLET}.json"
               #SDB
                soarql --repo "${{ matrix.repo }}" --input "${HOST_TRIPLET}.json" --output "${HOST_TRIPLET}.sdb"
                generate_checksum "${HOST_TRIPLET}.sdb"
                 if [[ $(stat -c%s "${HOST_TRIPLET}.sdb") -le 1024 ]] || file -i "${HOST_TRIPLET}.sdb" | grep -qiv 'sqlite'; then
                   echo -e "\n[✗] FATAL: Failed to generate Soar DB...\n"
                 exit 1
                 fi
                #xz
                 xz -9 -T"$(($(nproc) + 1))" --compress --extreme --keep --force --verbose "${HOST_TRIPLET}.json" ; generate_checksum "${HOST_TRIPLET}.json.xz"
                 xz -9 -T"$(($(nproc) + 1))" --compress --extreme --keep --force --verbose "${HOST_TRIPLET}.sdb" ; generate_checksum "${HOST_TRIPLET}.sdb.xz"
                #Zstd
                 zstd --ultra -22 --force "${HOST_TRIPLET}.json" -o "${HOST_TRIPLET}.json.zstd" ; generate_checksum "${HOST_TRIPLET}.json.zstd"
                 zstd --ultra -22 --force "${HOST_TRIPLET}.sdb" -o "${HOST_TRIPLET}.sdb.zstd" ; generate_checksum "${HOST_TRIPLET}.sdb.zstd"
               #Bita
                bita compress --input "${HF_REPO_DIR}/${HOST_TRIPLET}.json" --compression "zstd" --compression-level "21" --force-create "${HF_REPO_DIR}/${HOST_TRIPLET}.json.cba"
                bita compress --input "${HF_REPO_DIR}/${HOST_TRIPLET}.sdb" --compression "zstd" --compression-level "21" --force-create "${HF_REPO_DIR}/${HOST_TRIPLET}.sdb.cba"
               #Sqlite
                if command -v "qsv" &>/dev/null; then
                  jq -c '.[]' "${HOST_TRIPLET}.json" > "${TMPDIR}/${HOST_TRIPLET}.jsonl"
                  qsv jsonl "${TMPDIR}/${HOST_TRIPLET}.jsonl" > "${TMPDIR}/${HOST_TRIPLET}.csv"
                  qsv to sqlite "${TMPDIR}/${HOST_TRIPLET}.db" "${TMPDIR}/${HOST_TRIPLET}.csv"
                  if [[ -s "${TMPDIR}/${HOST_TRIPLET}.db" && $(stat -c%s "${TMPDIR}/${HOST_TRIPLET}.db") -gt 1024 ]]; then
                   cp -fv "${TMPDIR}/${HOST_TRIPLET}.db" "${HF_REPO_DIR}/${HOST_TRIPLET}.db" ; generate_checksum "${HOST_TRIPLET}.db"
                   bita compress --input "${HF_REPO_DIR}/${HOST_TRIPLET}.db" --compression "zstd" --compression-level "21" --force-create "${HF_REPO_DIR}/${HOST_TRIPLET}.db.cba"
                   7z a -t7z -mx="9" -mmt="$(($(nproc)+1))" -bsp1 -bt "${HF_REPO_DIR}/${HOST_TRIPLET}.db.xz" "${HF_REPO_DIR}/${HOST_TRIPLET}.db" 2>/dev/null ; generate_checksum "${HOST_TRIPLET}.db.xz"
                   zstd --ultra -22 --force "${HF_REPO_DIR}/${HOST_TRIPLET}.db" -o "${HF_REPO_DIR}/${HOST_TRIPLET}.db.zstd" ; generate_checksum "${HOST_TRIPLET}.db.zstd"
                 fi
                fi
               #Push
                git pull origin main --ff-only ; git merge --no-ff -m "Merge & Sync"
                find "${HF_REPO_DIR}" -type f -size -3c -delete
                find "${HF_REPO_DIR}" -maxdepth 1 -type f ! -name '.*' -exec bash -c '[[ -s "${1}" ]] && cp -fv "${1}" "${1,,}"' _ "{}" \; 2>/dev/null
                ls -lah "."
                git add --all --verbose && git commit -m "[+] METADATA (${HOST_TRIPLET}) [$(TZ='UTC' date +'%Y_%m_%d')]"
                git pull origin main ; git push origin main || (git pull origin main --ff-only ; git merge --no-ff -m "Merge & Sync" ; git push origin main)
              fi
          ##Cleanup
           popd "${TMPDIR}" &>/dev/null
        continue-on-error: true
